<% include ../header.ejs %>
    <form action="" method="post">
     <input type="hidden" name="_csrf" value="<%=csrfToken%>" />
        <table class="table table-bordered">
            <tr>
                <th>제목</th>
                <td><input type="text" name="name" class="form-control" value="<%=notice.name%>"/></td>
            </tr>
            <tr>    
                <th>내용</th>
                <td><textarea rows="5" cols="30" name="contents" value="<%=notice.contents%>" ></textarea></td>
            </tr>
        </table>
        <button class="btn btn-primary">작성하기</button>
    </form>

<% include ../footer.ejs %>